Protocol 2
PermitRootLogin no
PasswordAuthentication no
KbdInteractiveAuthentication no
PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys
PermitUserEnvironment yes
AllowUsers student bare locked
LogLevel INFO
Port 22
HostKey /etc/ssh/keys/ssh_host_ed25519_key
PidFile /run/sshd-main.pid
AllowTcpForwarding yes
