Protocol 2
Port 22
HostKey /etc/ssh/keys/ssh_host_ed25519_key
PermitRootLogin no
PasswordAuthentication no
KbdInteractiveAuthentication no
PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys
AllowUsers jump
AllowTcpForwarding yes
PermitOpen sshd-jupyter:22
LogLevel INFO
